{% extends 'users/base.html' %} {% block body %}
<div class="flex justify-center mt-5 p-10">
    <h2 class="text-3xl font-normal mb-2 text-gray-500">My Posts</h2>
</div>
<div class="grid mx-60 p-10 grid-cols-1">
    {% for post in posts %}
    <!-- Card Start -->
    <a href="#">
        <div
            class="rounded overflow-hidden w-[470px] h-[470px] bg-white shadow-lg"
        >
            <div class="user-container flex mx-5 py-5">
                <img class="h-10 w-10 rounded-full" src="{{ profile.photo.url }}" alt="" />
                <div class="mx-2 my-2 font-bold"><span class="text-indigo-500">{{ post.user }}</span></div>
            </div>
            <img src="{{ post.image.url }}" alt="" />
        </div>
    </a>
    <!-- Card End -->
    {% endfor %}
</div>
{% endblock %}

<h1>{{ post.title }}</h1>
<h2>{{ post.user }}</h2>
